<section class="films">
    <div class="filmsList">
        <app-genre [films]="this.terrorList"></app-genre>
    </div>
    <div class="filmsList">
        <app-genre [films]="this.comedyList"></app-genre>
    </div>
    <div class="filmsList">
        <app-genre [films]="this.dramaList"></app-genre>
    </div>
    <div class="filmsList">
        <app-genre [films]="this.actionList"></app-genre>
    </div>
</section>