<section class="genre">
    <div>
        <ul>
            <li *ngFor="let film of films" class="filmCard">
                <img src="{{film.cover}}" alt="{{film.title}}">
                <div class="filmTitle">
                    <h4>{{film.title}}</h4>
                    <h6>{{film.director}}</h6>
                </div>
            </li>
        </ul>
    </div>
</section>