.genre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
  }
}

.filmCard {
  position: relative;
  background-color: black;
  text-align: center;
  overflow: hidden;

  &:hover {
    transform: scale(1.1);
    transition: 0.5s;

    img {
      opacity: 0.4;
      transition: 0.5s;
    }

    .filmTitle {
      opacity: 1;
      transition: 1.5s;
    }
  }
  transform: scale(1);
  transition: 0.5s;

  img {
    width: 350px;
    height: 200px;
    object-fit: cover;
    padding: 0px;
    border: solid 1px;
    transition: 0.5s;
  }
}

.filmTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.5s;

  h4,
  h6 {
    padding: 1px;
    text-align: center;
  }
}
