<head>
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<nav>
  <ul>
    <li>
      <img src="{{ navigatorInfo.logo.src }}" alt="{{ navigatorInfo.logo.alt }}" />
    </li>
    <li>
        <a routerLink="/home">Home</a>
    </li>
    <li>
        <a routerLink="/films">Films</a>
    </li>
    <li>
        <a routerLink="/gestion">Gestion</a>
    </li>
    <li>
      <img src="{{ navigatorInfo.search.src }}" alt="{{ navigatorInfo.search.alt }}" />
    </li>
    <li>
      <img src="{{ navigatorInfo.notifications.src }}" alt="{{ navigatorInfo.notifications.alt }}" />
    </li>
    <li class="themeChanger">
      <span (click)="changeTheme()" class="material-symbols-outlined">
        brightness_6
      </span>
    </li>
  </ul>
</nav>