<section class="home">
    <h2>{{homeInfo.title}}</h2>
    <ul>
        <li *ngFor="let item of homeInfo.gallery">
            <img src="{{item.src}}" alt="{{item.alt}}">
        </li>
    </ul>
</section>