.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  
    ul {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
      flex-direction: row;
      gap: 20px;
  
      img {
        width: 200px;
        height: 300px;
        object-fit: cover;
        padding: 10px;
        border: solid 1px;
      }
    }
  }
  