//RESET
* {
    padding: 0;
  }
  
  li {
    list-style-type: none;
  }
  
  //PALETTE
  :root {
    --background-dark: black;
    --background-light: grey;
    --text-dark: white;
    --text-light: black;
    --title-dark: white;
    --title-light: black;
    --hover-dark: #b3b3b3;
    --hover-light: #3e3e3e;
  }
  
  //GLOBAL STYLES
  @import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap");
  
  body {
    scroll-behavior: smooth;
    font-family: "Noto Sans", sans-serif;
    transition: all 0.5s;
    background-color: var(--background-dark);
    color: var(--text-dark);
  
    a {
      text-decoration: none;
      color: var(--title-dark);
      transition: all 0.3s;
  
      &:hover {
        color: var(--hover-dark);
      }
    }
  
    h1,
    h2,
    h3,
    h4 {
      color: var(--title-dark);
    }
  }
  
  .light {
    background-color: var(--background-light);
    color: var(--text-light);
  
    a {
      text-decoration: none;
      color: var(--title-light);
      transition: all 0.3s;
  
      &:hover {
        color: var(--hover-light);
      }
    }
  
    h1,
    h2,
    h3,
    h4 {
      color: var(--title-light);
    }
  }